@import "colors";

.model-shield {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $model-shield-background-color;
  z-index: 10;
  visibility: hidden;
  opacity: 0.0;
}

.calendar-model {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25%;
  margin-top: 12vh;
  height: 75%;
  width: 50%;
  overflow: hidden;
  z-index: 11;
  background-color: $blackish-color;
  border: ridge 3px $greyish-color;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
  }
}

.calTitle {
  position: absolute;
  top: 0;
  margin-left: -3vw;
  margin-top: 1vh;
  font-family: stellas-coffee-font;
  font-size: 3vw;
  color: $white-color;
}

.calendar-model iframe {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}

#closeCal {
  position: absolute;
  font-size: 3em;
  transition: color 0.3s ease;
  color: $brownish-color;
  top: 1%;
  margin-left: 22vw;
  &:hover {
    cursor: pointer;
    transition: color 0.3s ease;
    color: darken($brownish-color, 20%);
  }
}

// small device +===}========>
@media screen and (max-width: 750px) {
  .calendar-model {
    margin-left: 0;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    border: none;
  }
  .calTitle {
    font-size: 2em;
    margin-right: 20vw;
  }
  #closeCal {
    position: absolute;
    display: inline-block;
    margin-left: 43vw;
  }
}
