$background-dark-color: #1D1A1A;
$background-opaque-dark-color: rgba(11, 10, 10, 0.9);
$model-shield-background-color: rgba(11, 10, 10, 0.3);
$brownish-color: #BD8E74;
$off-white-color: #DDD3A0;
$white-color: #FFFFFF;
$greyish-color: #8C776D;
$blackish-color: #030407;
$espresso-red: #832209;


$title-font: Oswald;
$paragraph-font: Roboto;
