@import "colors_and_fonts";
@import 'model_shield';

.faqs-model {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25%;
  margin-top: 12vh;
  height: 75%;
  width: 50%;
  overflow: hidden;
  z-index: 31;
  background-color: $blackish-color;
  border: ridge 3px $greyish-color;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
  }
  .faqs-content {
    position: absolute;
    margin-left: 0;
    top: 10%;
    width: 100%;
    height: 90%;
    background-color: $espresso-red;
    color: $off-white-color;
    font-family: $paragraph-font;
  }
}

.faqTitle {
  position: absolute;
  top: 0;
  margin-left: -3vw;
  margin-top: 1vh;
  font-family: stellas-coffee-font;
  font-size: 3vw;
  color: $white-color;
}
