@import "colors_and_fonts";
@import 'model_shield';

.faqs-model {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25%;
  margin-top: 12vh;
  height: 75%;
  width: 50%;
  overflow: hidden;
  z-index: 31;
  background-color: $blackish-color;
  border: ridge 3px $greyish-color;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
  }
  #faqs-content {
    position: absolute;
    margin-left: 0;
    top: 15%;
    width: 100%;
    height: 85%;
    background-color: $espresso-red;
    color: $off-white-color;
    font-family: $paragraph-font;
    ul {
      height: 100%;
      overflow-y: auto;
      li {
        font-size: 1.5em;
        margin-top: 4%;
        margin-left: 5%;
        margin-right: 5%;
        .fa {
            color: $white-color;
        }
        &:last-child {
          margin-bottom: 15%;
        }
      }
    }
  }
}

.faqTitle {
  position: absolute;
  top: 0;
  margin-left: -3vw;
  margin-top: 1vh;
  font-family: stellas-coffee-font;
  font-size: 3vw;
  color: $white-color;
}

#closeFaqs {
  position: absolute;
  font-size: 3em;
  transition: color 0.3s ease;
  color: $brownish-color;
  top: 1%;
  margin-left: -45%;
  &:hover {
    cursor: pointer;
    transition: color 0.3s ease;
    color: darken($brownish-color, 20%);
  }
}

// small device +===}========>
@media screen and (max-width: 750px) {
  .model-shield {
    width: 100vw;
    height: 100vh;
  }
  .faqs-model {
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
  }
  .faqTitle {
    float: left;
    font-size: 2em;
    margin-left: 15vw;
    margin-right: 5vw;
    margin-top: 3%;
  }
  #closeFaqs {
    display: inline-block;
    float: left;
    font-size: 3em;
    margin-left: -40%;
    margin-right: 2%;
    margin-top: 3%;
  }
}
