/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.model-shield {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(11, 10, 10, 0.3);
  z-index: 30;
  visibility: hidden;
  opacity: 0.0; }

.calendar-model {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25%;
  margin-top: 12vh;
  height: 75%;
  width: 50%;
  overflow: hidden;
  z-index: 31;
  background-color: #030407;
  border: ridge 3px #8c776d;
  border-radius: 30px; }
  .calendar-model:hover {
    cursor: pointer; }

.calTitle {
  position: absolute;
  top: 0;
  margin-left: -3vw;
  margin-top: 1vh;
  font-family: stellas-coffee-font;
  font-size: 3vw;
  color: white; }

.calendar-model iframe {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%; }

#closeCal {
  position: absolute;
  font-size: 3em;
  transition: color 0.3s ease;
  color: #bd8e74;
  top: 1%;
  margin-left: 22vw; }
  #closeCal:hover {
    cursor: pointer;
    transition: color 0.3s ease;
    color: #8a5b41; }

@media screen and (max-width: 750px) {
  .model-shield {
    width: 100vw;
    height: 100vh; }

  .calendar-model {
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none; }

  .calTitle {
    display: inline-block;
    float: left;
    font-size: 2em;
    margin-left: -4%;
    margin-right: 20%;
    margin-top: 3%; }

  #closeCal {
    display: inline-block;
    float: right;
    position: absolute;
    font-size: 3em;
    margin-left: 43%;
    margin-right: 2%;
    margin-top: 0%; }

  .calendar-model iframe {
    width: 100vw;
    height: 85vh;
    top: 15%; } }
@font-face {
  font-family: stellas-coffee-font;
  src: url("../assets/fonts/stellas-fonts/christie.ttf"); }

body {
  display: block;
  overflow: hidden;
  background-color: #ddd3a0; }

@media screen and (max-device-width: 750px) {
  body {
    overflow-y: scroll; } }
h1 {
  font-size: 4em;
  font-family: Oswald;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px; }

h2 {
  font-size: 3em;
  font-family: Oswald;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: blue; }

h3 {
  font-size: 2em;
  font-family: Oswald;
  margin-left: 20px;
  margin-bottom: 10px; }

p {
  font-family: Roboto;
  margin-left: 20px;
  margin-bottom: 5px; }

a {
  text-decoration: none;
  color: #bd8e74; }
  a:link, a:active, a:hover, a:visited {
    text-decoration: none; }

.link {
  transition: color 0.5s ease;
  color: #bd8e74; }
  .link:hover {
    transition: color 0.5s ease;
    color: #8a5b41;
    cursor: pointer; }

.show {
  visibility: visible;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: .75s;
  transition-delay: .75s;
  opacity: 1; }

.hide {
  transition: visibility 0s ease 0.5s, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden; }

.mobileHeader {
  visibility: hidden; }

@media screen and (max-device-width: 750px) {
  .mobileHeader {
    visibility: visible;
    height: 20vmax;
    width: 100%;
    z-index: 20;
    background-color: #1d1a1a; }
    .mobileHeader .mobileBurger {
      float: right;
      margin-right: 7%;
      margin-top: 10%;
      display: inline-block;
      cursor: pointer;
      z-index: 21; }
    .mobileHeader .bar1, .mobileHeader .bar2, .mobileHeader .bar3 {
      width: 40px;
      height: 5px;
      background-color: #bd8e74;
      margin: 10px 0;
      transition: 0.4s; }
    .mobileHeader .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-13px, 13px);
      transform: rotate(-405deg) translate(-13px, 13px); }
    .mobileHeader .change .bar2 {
      transition: opacity 0.7s ease;
      opacity: 0; }
    .mobileHeader .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(405deg) translate(-8px, -8px); } }
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  background-color: #1d1a1a;
  box-shadow: 0px 2px 2px #1d1a1a; }
  .header-nav .links ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 12.5vw; }
    .header-nav .links ul li {
      margin-right: 30px;
      font-size: 2em;
      font-family: Oswald; }

@media screen and (max-device-width: 750px) {
  .header-nav {
    visibility: hidden;
    width: 100vw;
    height: 20%;
    margin-top: -40%;
    z-index: 10;
    justify-content: center;
    box-shadow: none; }
    .header-nav ul {
      justify-content: space-between;
      flex-wrap: wrap; }
      .header-nav ul li {
        margin-bottom: .5em;
        margin-top: .5em;
        margin-right: 50; } }
.logo {
  position: absolute;
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 300px;
  border-radius: 50%;
  margin-left: 20px;
  padding-top: 10px;
  background-color: white;
  border: 10px solid #323232; }
  .logo img {
    margin-top: -5%;
    height: 125px;
    width: 168px; }

@media screen and (max-device-width: 750px) {
  .logo {
    width: 75vw;
    height: 40vw;
    margin-left: 12.5vw;
    margin-top: 2%; }
    .logo img {
      height: 33vw;
      width: 42vw; } }
.center {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .center video {
    position: absolute;
    object-fit: cover;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100; }

@media screen and (max-device-width: 750px) {
  .center {
    width: 100vw;
    height: 100vmax;
    background-color: #832209;
    border-bottom: solid 5px #1d1a1a; }

  video {
    display: none; } }
#shortDiv {
  width: 100%;
  height: auto;
  margin-top: 47vh;
  text-align: center; }
  #shortDiv #short {
    color: #766B7B;
    font-size: 2em;
    text-shadow: 1px 1px 1px black, 0 0 1em #030407, 0 0 0.2em #030407;
    opacity: .9;
    font-family: stellas-coffee-font; }

@media screen and (max-device-width: 750px) {
  #shortDiv {
    margin-top: 65%;
    width: 75%;
    text-align: justify; }
    #shortDiv #short {
      color: #ddd3a0; } }
.info-container {
  position: absolute;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100vw;
  margin-top: 55vh; }
  .info-container .info {
    height: 180px;
    width: 250px;
    padding-top: 10px;
    border-radius: 20px;
    color: #ddd3a0;
    background-color: rgba(11, 10, 10, 0.9);
    box-shadow: 0px 0px 2px #1d1a1a;
    z-index: 4; }
    .info-container .info h3 {
      color: #8c776d; }

@media screen and (max-device-width: 750px) {
  .info-container {
    position: absolute;
    flex-flow: column;
    margin-top: 90%;
    width: 100%;
    height: auto; }
    .info-container .info {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      width: 75%;
      height: 50vmax;
      margin-top: 5vh;
      margin-left: 12.5%;
      background-color: #1d1a1a;
      box-shadow: none;
      border: ridge 4px #8c776d; }
      .info-container .info div h3:first-child {
        margin-bottom: 1em; }
      .info-container .info p {
        font-size: 1.1em;
        margin-bottom: 1em; } }
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
  background-color: #030407;
  box-shadow: 0px -2px 2px #030407;
  color: #8c776d;
  font-family: Roboto; }

@media screen and (max-device-width: 750px) {
  .footer {
    height: 25vw;
    margin-top: 140vmax;
    box-shadow: none; } }
